Package: githubbackup
Architecture: amd64
Maintainer: linus <linus@nectarinehealth.com>
Depends: parallel, git, curl, bash, sed
Description: Small utility to back up all github repositories in an organization
